<!-- Navbar Begin -->
<nav class="navbar navbar-expand-md">
    <div class="container-fluid">

        <!-- Navbar Brand Begin -->
        <a class="navbar-brand" href="#"><img /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <!-- Navbar Brand End -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Top Menu Left Begin -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Home</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Dashboard</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Tabulation</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Help</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Documentation</a></li>
                        <li><a class="dropdown-item" href="#">How To Use</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                
            </ul>
            <!-- Top Menu Left End -->

            <a class="windowTitle" href="#"><info>Window Title</info> <span></span></a>

            <!-- Top Menu Right Begin -->
            <ul class="navbar-nav dropstart ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" title="Settings"><i class="bi bi-gear-fill"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item">
                                <div class="form-check form-switch dark-mode">
                                    <input class="form-check-input" type="checkbox" role="switch" id="darkSwitch">
                                    <label class="form-check-label" for="darkSwitch">Dark Mode</label>
                                </div>
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Preferences</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" title="Notifications"><i class="bi bi-bell-fill"></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">You have a new task <time>9h ago</time><span>The boss assigned you a new task</span></a></li>
                        <li><a class="dropdown-item" href="#">A new due date is set <time>12h ago</time><span>The boss changed a task's due date </span></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Show All Notifications</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" title="Account"><i class="bi bi-person-circle"></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Hi, John</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Top Menu Right End -->

        </div>
        
    </div>
</nav>
<!-- Navbar End -->